﻿@model IEnumerable<WH_TalentSoft.Models.ValidationSousSession_Result> 
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table">
    <thead style="font-size:15px !important;color:#00bcd4;font-weight:200">
        <tr>
            <th>
                @Html.DisplayName("Key")
            </th>
            <th>
                @Html.DisplayName("ID")
            </th>
            <th>
                @Html.DisplayName("Nom Action")
            </th>
            <th>
                @Html.DisplayName("Code de la Session")
            </th>
           
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Début_Sous_Session)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statut_de_validation)
                </td>
             
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Stagiaire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Stagiaire_Validé)
                </td>
                
            </tr>
        }
    </tbody>
</table>

