﻿@model PagedList.IPagedList<WH_TalentSoft.Models.ViewTRAINEE>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}
<style>
    .MyTable {
        width: 100%;
    }
</style>

<div class="material-datatables">
    <table class="table">
        <thead style="font-size:15px !important;color:#00bcd4;font-weight:200">
            <tr>
                <th>
                    @Html.DisplayName("Entity")
                </th>
                <th>
                    @Html.DisplayName("Projet")
                </th>
                <th>
                    @Html.DisplayName("Théme")
                </th>
                <th>
                    @Html.DisplayName("Action de Formation")
                </th>
                <th>
                    @Html.DisplayName("Nom du Formateur")
                </th>
                <th>
                    @Html.DisplayName("Prénom du Formateur")
                </th>
                <th>
                    @Html.DisplayName("Id de la Session")
                </th>
                <th>
                    @Html.DisplayName("Date de Début")
                </th>
                <th>
                    @Html.DisplayName("Date de Fin")
                </th>
                <th>
                    @Html.DisplayName("Status de la Session")
                </th>
                <th>
                    @Html.DisplayName("Type de Formation")
                </th>

                <th>
                    @Html.DisplayName("Stagiaire")
                </th>               
                <th>
                    @Html.DisplayName("Matricule")
                </th>
                <th>
                    @Html.DisplayName("Date de la Sous-Session")
                </th>
                <th>
                    @Html.DisplayName("Status de Validation")
                </th>
                <th>
                    @Html.DisplayName("Nombre d'heures Réalisées")
                </th>     
                <th>
                    @Html.DisplayName("Service")
                </th>  
                <th>
                    @Html.DisplayName("Code Emploi")
                </th>
                <th>
                    @Html.DisplayName("Desc Du code Emploi")
                </th>
                <th>
                    @Html.DisplayName("Company")
                </th>
                <th>
                    @Html.DisplayName("Desc of Company")
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Pays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Projet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Theme)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom_de_l_action)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom_formateur_de_la_session)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prénom_formateur_de_la_session)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code_de_la_session)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_début_de_la_session)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_fin_de_la_session)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Statut_de_la_session)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type_de_formation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stagiaire)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricule)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etat_de_la_session)
                    </td>
             
                    <td>
                        @Html.DisplayFor(modelItem => item.Réalisées)
                    </td> 
                    <td>                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code_emploi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESC_du_code_emploi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desc_of_company)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
  
}
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


@Html.PagedListPager(Model, page => Url.Action("_Viewtrainee",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script>
    $(".pagination").find("a").click(function () {
        event.preventDefault();
        var href = event.target.href;
        window.currentpage = href.substr(href.length - 1, 1);
        var newpage = "?page=" + window.currentpage;
        if (window.filter != undefined) {
            window.filter = window.filter.replace("" + window.page, newpage);
            $.get(event.target+window.filter, function (success) {
           
                $("#test").html(success);
            });
        }

       
        else {
           
            $.get(event.target, function (success) {
              
                $("#test").html(success);
            });
        };
    })
        //
       
       // window.filter = window.filter.replace("" + window.page, newpage);
        
       
        
       
        
    
</script> 






