﻿@model WH_TalentSoft.Models.ViewSESSION1

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ViewSession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code_de_la_session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code_de_la_session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type_de_formation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_de_formation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_de_stagiaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_de_stagiaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statut_de_la_session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statut_de_la_session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_début_de_la_session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_début_de_la_session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_fin_de_la_session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_fin_de_la_session)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
