﻿@model WH_TalentSoft.ViewModel.HoursRealise
@{
    ViewBag.Title = "Heures Réalisées";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="orange">
                    <i class="material-icons">view_list</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Liste des sessions de formation</h4>
                    <legend>Filtre</legend>

                    @using (Html.BeginForm("_ViewSession", "ViewSessions", FormMethod.Get))
                    {
                        <div class="col-md-12">
                        <div class="form-group  col-md-3">
                            @Html.LabelFor(model => model.session.Date_début_de_la_session, htmlAttributes: new { @class = "label-control" })
                            @Html.EditorFor(model => model.search1, new { htmlAttributes = new { @class = "form-control datepicker", id = "search1" } })
                        </div>

                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.session.Code_de_la_session, htmlAttributes: new { @class = "label-control" })
                            @Html.EditorFor(model => model.search2, new { htmlAttributes = new { @class = "form-control", id = "search2" } })


                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.session.Formateur, htmlAttributes: new { @class = "label-control" })
                            @Html.EditorFor(model => model.search3, new { htmlAttributes = new { @class = "form-control", id = "search3" } })
                        </div>
                        <div class="form-group col-md-3">
                            <select class="selectpicker" id="search4">
                                <option value="" selected>Projet</option>
                                @foreach (var item in ViewBag.Project)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        </div>

                        <div class="form-group col-md-3">
                           
                            <select class="selectpicker" id="search5">
                                <option value="" selected>Type de Formation</option>
                                @foreach (var item in ViewBag.TypeFormation)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                           
                            <select class="selectpicker" id="search6">
                                <option value="" selected>Avancement de la Session</option>
                                @foreach (var item in ViewBag.StatutSession)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <select class="selectpicker" id="search7">
                                <option value="" selected>Statut de Validation</option>
                                <option value="Non Validée" >Non Validée</option>
                                <option value="En Cours" >En Cours</option>
                                <option value="Validée" >Validée</option>
                               
                            </select>

                        </div>

                        <div class="form-group col-md-3">
                            <label class="label-control "></label>
                            <button id="btnsearch" type="submit" onclick="GetFilter()" class="btn btn-fill btn-success col-md-12">Rechercher</button>
                        </div>
                    }

                    <div class="card-content table-responsive table-full-width" id="test">
                        @{Html.RenderAction("_ViewSession", "ViewSessions", new { page = 1 });}
                    </div>
                </div>
            </div>
        </div>
        <div class="details-Sessions" style="display:none;">

        <div class="col-md-3" id="sous-session">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="orange">
                    <i class="material-icons">view_list</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title small" id="info-sousSession" style="padding-top: 45px;">
                       Aucune info actuellement
                    </h4>


                    <div class="card-content table-responsive table-full-width">
                        <table class="table table-sousSession" style="font-size:10pt !important">
                            <thead class="text-danger" style="font-size:7pt !important">
                            <th>Date</th>
                            <th style="text-align:right">Statut de validation</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="2"><center>Actuellemnt , aucune resultat !</center></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="orange">
                    <i class="material-icons">view_list</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Détail de la sous-session</h4>


                    <div class="card-content col-md-12 table-full-width">
                        <table class="table table-sousSession-stagiaires" style="font-size:10pt !important">
                            <thead class="text-danger" style="font-size:7pt !important">
                            <th>Matricule</th>
                            <th>Stagiaire</th>
                            <th>Date</th>
                            <th>Prévues</th>
                            <th>Réalisées</th>
                            
                            <th>
                                    <div class="checkbox pull-right">
                                    <label>
                                        <input type="checkbox" id="CheckAll" onclick="CheckAll()">
                                    </label>
                                    </div>
                            </td></th>
                            </thead>
                            <tbody>
                                <tr>
                                 <td colspan="7"><center>Details,aucune inforamtion !</center></td>
                                </tr>
                         </tbody>
                        </table>
                        <button class="btn btn-success pull-right enregisterer-list-stagiaire">
                            <span class="btn-label">
                                <i class="material-icons">check</i>
                            </span>
                            Enregistrer
                            <div class="ripple-container"></div>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>


@section scripts{
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>
    <script>
        var interval = 0;
        var time = new Date().getTime();       


        $(document).ready(function () {

            $.get('/settings/index', function (res) {
                if (isNaN(res[0]) == false) {
                    interval = parseInt(res[0]) * 60000;
                }
                else
                {
                    interval = 0;
                }
            });
            
            $(document.body).bind("keypress mousedown", function (e) {
                time = new Date().getTime();
            });

            setInterval(function () {
                if (interval > 0) {
                    function refresh() {
                        if (new Date().getTime() - time >= interval) {
                            window.location.reload(true);
                        }
                        else {
                            setTimeout(refresh, 1000);
                        }
                    }
                }
                setTimeout(refresh, 1000);
            },100);
           
         
            $('.ChangeColor').click(function () {
                //Check to see if background color is set or if it's set to white.
                $('.ChangeColor').css({ 'background-color': '', 'opacity': '' });
                $(this).css("background-color", "#fd9a14");
            });
        });

        $(document).on("click", '.ColorChange', function (event) {
            $('tr.ColorChange').css({ 'background-color': '', 'opacity': '' });
            $(this).css("background-color", "#fd9a14");
        });

        $(document).on("click", '.ColorChange', function (event) {
            $('tr.ChangeColor').css({ 'background-color': '', 'opacity': '' });
            $(this).css("background-color", "#fd9a14");
        });
        

        function GetFilter() {
            event.preventDefault();
            var _search1 = $("#search1").val();
            var _search2 = $("#search2").val();
            var _search3 = $("#search3").val();
            var _search4 = $("#search4").val();
            var _search5 = $("#search5").val();
            var _search6 = $("#search6").val();
            var _search7 = $("#search7").val();
            
            window.pages = 1;
            window.filters ='&search1=' + _search1 + '&search2=' + _search2 + '&search3=' + _search3 + '&search4=' + _search4 + '&search5=' + _search5 + '&search6=' + _search6 + '&search7=' + _search7;
            
            $.ajax({
                url: "@Url.Action("_ViewSession", "ViewSessions")",
                method: 'GET',
                cache: false,
                data: { search1: _search1, search2: _search2, search3: _search3, search4: _search4, search5: _search5, search6: _search6, search7: _search7 },
                success: function (result) {
                    $("#test").html(result);
                }
            });
    }

        /*details for session*/

        function dataToHtmlForSession(res, code, formateur, action,n1,n2) {
            var html = "";

            if (res.length)
            {
                for (var i = 0; i < res.length; i++)
                {
                    var date = parseInt(res[i].Date_Début_Sous_Session.replace('/Date(', '').replace(')/', ''));
                        date = new Date(date);
                        date = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
                        var isChecked = ((res[i].Statut_de_validation == 0) ? " " : "checked");

                        html += `<tr style="cursor:pointer;" class="session-stagiaire ColorChange" data-n1="` + n1 + `" data-n2="`+ n2 +`" data-date="` + date + `" data-code="` + code + `" data-formateur="` + formateur + `" data-action-tr="` + action +`">
                               <td>`+date+`</td>
                               <td><center>
                                   <div class="checkbox pull-right">
                                      <label>
                                        <input type="checkbox" name="optionsCheckboxes" disabled  `+isChecked+`>

                                       </label>
                                    </div>
                                </td></center>

                             </tr>`;

                }
               

            } else {
                html = `<tr>
                         <td colspan=2><center>Aucune resultat !</center></td>
                       </tr>`;

            }
            return html;
        }


        $(document).on('click','button.btn-view-details',function (e) {
            e.preventDefault();
            $('.details-Sessions').show();
            $('.table-sousSession-stagiaires tbody').find('tr').remove();
            var htmlTableStagiaire = `  <tr>
                                     <td colspan="7"><center> Click sur une sous session pour que vous puissiez voir les details des stagiaires !</center></td>

                                    </tr>`;
            $('.table-sousSession-stagiaires tbody').append(htmlTableStagiaire);

            var code = $(this).attr('data-Code'),
                formateur = $(this).attr('data-Formateur'),
                action = $(this).attr('data-Action'),
                n1 = $(this).attr('data-n1'),
                n2 = $(this).attr('data-n2'),
                infoSousSession = "Sous-session de la session  <br /><span style='color: #fb8c00;'>" + code + "</span><br />Action <br /><span style='color:#fb8c00;'>" + action + "</span> <br />Formateur <br /><span style='color:#fb8c00;'>" + formateur +"</span>";
            $("#info-sousSession").html(infoSousSession);

             $.ajax({
                 type: "GET",
                 url: "@Url.Action("Index", "SessionPr")",
                 data: { p1: code, p2: action, p3: formateur,p4:n2, p5: n1},
                 dataType: "json",
                 beforeSend: function (xhr) {
                     $('.main-panel').animate({ scrollTop: $('#sous-session').offset().top }, 'slow');
                 },
                 success: function (res) {
                     var html = dataToHtmlForSession(res,code,formateur,action,n1,n2);
                     $('.table-sousSession tbody').find('tr').remove();
                     $('.table-sousSession tbody').append(html);

                 }
             });
             return false;

        });

        /* end details for session */
        var SousSessionStagiaireListInit = []; ;
        /* start details session  for stagiaire */
        function dataToHtmlForStagiaire(res, date, p1, p2, p3,p5,p6) {
            SousSessionStagiaireListInit = [];
            var html = `<tr id="trrefresh"  data-code2="` + p1 + `" data-action2="` + p2 + `" data-N1="` + p5 + `" data-N2="` + p6 + `" data-formateur2="`+ p3+`"></tr>`;

            if (res.length)
            {
                for (var i = 0; i < res.length; i++) {

                    var isCheck = ((res[i].Statut == "1") ? " Disabled checked" : " ");
                    var prev    = res[i].Prévues / 60;
                    var reals   = res[i].Réalisées / 60;
                    html += `
                                    <tr data-keyItem="`+ res[i].Key +`">
                                    <td>`+res[i].Matricule+`</td>
                                    <td>`+ res[i].Stagiaire+`</td>
                                    <td>`+ date +`</td>
                                    <td><h6>`+ prev  +`</h6></td>
                                    <td><input class="realise-td" type="text" style="text-align: center;" class="form-control" value="`+ reals+`"></td>

                                        <td>
                                            <div class="checkbox pull-right">
                                                <label>
                                                     <input  class="statut-td checkAllcheckbox" type="checkbox" name="optionsCheckboxes "  `+ isCheck +`>

                                                </label>
                                            </div>
                                         </td>
                            </tr>`;

                    var itemInit = {
                        key: res[i].Key,
                        Réalisées: res[i].Réalisées,
                        SUBS_V_STATUS_EMP: res[i].Statut
                    };
                    SousSessionStagiaireListInit.push(itemInit);

                }
                //$("#CheckAll").click(function () {
                //    $('.checkAllcheckbox').not(this).prop('checked', this.checked);
                //});
                 if ($('.checkAllcheckbox:checked').length == $('.checkAllcheckbox').length) {
                        $("#CheckAll").prop('checked', true);

                    }
                $("#CheckAll").change(function () {  //"select all" change 
                    $(".checkAllcheckbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
                });

                //".checkbox" change 
                $('.checkAllcheckbox').change(function () {
                    //uncheck "select all", if one of the listed checkbox item is unchecked
                    if (false == $(this).prop("checked")) { //if this item is unchecked
                        $("#CheckAll").prop('checked', false); //change "select all" checked status to false
                    }
                    //check "select all" if all checkbox items are checked
                    if ($('.checkAllcheckbox:checked').length == $('.checkAllcheckbox').length) {
                        $("#CheckAll").prop('checked', true);

                    }
                });


            } else {
                html += `  <tr>
                                <td colspan="7"><center>Details,aucune inforamtion !</center></td>

                            </tr>`;
            }
            return html;

        }
        $(document).on('click', 'tr.session-stagiaire', function (e) {
            e.preventDefault();

            var code = $(this).attr('data-code'),
                date = $(this).attr('data-date'),
                action = $(this).attr('data-action-tr'),
                formateur = $(this).attr('data-formateur'),
                n1 = $(this).attr('data-n1'),
                n2 = $(this).attr('data-n2');


            $.ajax({
                type: "GET",
                url : "@Url.Action("Stagiaires", "SessionPr")",
                data: { p1: code, p2: action, p3: formateur, p4: date, p5: n2, p6: n1},
                dataType: "json",
                success: function (res,date) {
                    var html = dataToHtmlForStagiaire(res, date, action, code, formateur,n1,n2);
                    $('.table-sousSession-stagiaires tbody').find('tr').remove();
                    $('.table-sousSession-stagiaires tbody').append(html);
                }
            });
        });



          /* end details session  for stagiaire */

        /* start enregistrer les modifications */
         var SousSessionStagiaireListCurrent = [];
         function compareTowArray(arrayInit, ArrayCurrent) {
             var ArrayFinal = [];
             for (var j = 0; j < arrayInit.length; j++)
             {
                 for (var i = 0; i < ArrayCurrent.length; i++)
                 {
                     if ((arrayInit[j].key == ArrayCurrent[i].key) && (arrayInit[j].Réalisées != ArrayCurrent[i].Réalisées || arrayInit[j].SUBS_V_STATUS_EMP != ArrayCurrent[i].SUBS_V_STATUS_EMP))
                     {
                         ArrayFinal.push(ArrayCurrent[i]);
                     }
                 }
             }
             if (ArrayFinal.length)
             {
                 $.post('@Url.Action("update", "TRAINEEs")', { tRAINEEs: ArrayFinal }, function (res) {

                    swal("Bon travail!", "Votre operation a été envoyé avec succès", "success");               
                     var code = $('#trrefresh').attr('data-code2'),
                         formateur = $('#trrefresh').attr('data-formateur2'),
                         action = $('#trrefresh').attr('data-action2'),
                         n1 = $('#trrefresh').attr('data-n1'),
                         n2 = $('#trrefresh').attr('data-n2');
                         infoSousSession = "Sous-session de la session  <br /><span style='color: #fb8c00;'>" + code + "</span><br />Action <br /><span style='color:#fb8c00;'>" + action + "</span> <br />Formateur <br /><span style='color:#fb8c00;'>" + formateur + "</span>";
                     $("#info-sousSession").html(infoSousSession);
             
              
                   

         $.ajax({
                 type: "GET",
                 url: "@Url.Action("Index", "SessionPr")",
                 data: { p1: action, p2: code , p3: formateur,p4:n2, p5: n1},
                 dataType: "json",
                 beforeSend: function (xhr) {
                     $('.main-panel').animate({ scrollTop: $('#sous-session').offset().top }, 'slow');
                 },
                 success: function (res) {
                     var html = dataToHtmlForSession(res,action,formateur,code,n1,n2);
                     $('.table-sousSession tbody').find('tr').remove();
                     $('.table-sousSession tbody').append(html);
                     $('#test').load('@Url.Action("_ViewSession", "ViewSessions")');

                  
                 }
             });

                     //webSocket
        

         //var key = "test key",
         //    realise = "test realise",
         //    status = "test status";

         //// $lview = $("#ListView1");
         //$.connection.chatHub.client.addNewMessageToPage = function (key, realise, status) {
         //    alert(key + "  ,  " + realise + "  ,  " + status);
         //};

         //$.connection.hub.start().done(function () {
         //    window.SendMessage = function (key, realise, status) {
         //        window.page.server.send(key, realise, status);
         //    }
         //});



                 });

            

             } else {
                 $.post('@Url.Action("update", "TRAINEEs")', { tRAINEEs: ArrayCurrent }, function (res) {
                    

                     swal("Bon travail!", "Votre operation a été envoyé avec succès", "success");

                 });

             }
         }
         $(document).on('click', 'button.enregisterer-list-stagiaire', function (e) {
             e.preventDefault();
             var currentDate = new Date();
             var date = currentDate.getFullYear() + '-' + (currentDate.getMonth() + 1) + '-' + currentDate.getDate() + ' ' + currentDate.getHours() + ':'+ currentDate.getMinutes() + ':' + currentDate.getSeconds();


            $('.table-sousSession-stagiaires tbody tr').each(function (index, item) {
                var resl   =  parseFloat($(this).find('.realise-td').val() * 60 );
                var Key    =   $(this).attr('data-keyItem');
                var statut = ($(this).find('.statut-td').is(':checked') ? true : false);

                var itemCurrent = {
                    key: Key,
                    Réalisées: resl,
                    SUBS_V_STATUS_EMP: statut,
                    mtime : date
                };
                SousSessionStagiaireListCurrent.push(itemCurrent);

             });


            compareTowArray(SousSessionStagiaireListInit, SousSessionStagiaireListCurrent);
            SousSessionStagiaireListCurrent = [];




            return false;

        });
        /* start enregistrer les modifications */


    </script>

<script>
         $(".pagination").find("a").click(function (event) { event.preventDefault(); $.get(event.target, function (success) { $("#test").html(success); }); })
</script>


}
