﻿@model WH_TalentSoft.Models.TRAINEE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TRAINEE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Réalisées)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Réalisées)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUBS_V_STATUS_EMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBS_V_STATUS_EMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ctime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ctime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mtime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Key }) |
    @Html.ActionLink("Back to List", "Index")
</p>
