﻿@model IEnumerable<WH_TalentSoft.Models.TRAINEE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Réalisées)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBS_V_STATUS_EMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ctime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mtime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Réalisées)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBS_V_STATUS_EMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ctime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mtime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Key }) |
            @Html.ActionLink("Details", "Details", new { id=item.Key }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Key })
        </td>
    </tr>
}

</table>
